body{
 background-color:rgb(232, 245, 220);
 background-image: url("paper.gif");
 background-color: #cccccc;
 font-size: 20px;
}  
p{
    font-weight: normal;
    padding:2px;
    font-style:italic;
    color: rgb(31, 29, 29);
    font-size:17px;
    flex-direction: row-reverse;
    font-size: 20px;
}
img{
    width: 350px;  
    border-radius:20px;
    float: none;
}
a{
    color: blue;
    margin: 5px;
    padding: 20px; 
}
ol{
    list-style-type: square;
    /* margin-left: 278px; */
}
#container{ 
    /* text-align: center;
    flex-direction: center;  */
     margin-left: 653px;
}
h3,h2{
color: navy;
margin-left: 20px;
background-color: slategrey;
}
dd{
    padding: 10px;
    
}
li{
    padding: 10px; 
} 
input{
    margin: 10px;
    padding: 10px 10px;
}